<form [formGroup]="platoonForm" dir="rtl">
  <h1 mat-dialog-title>إضافة فصيلة</h1>
  <div mat-dialog-content>
    <form [formGroup]="platoonForm">
      <!-- <mat-form-field appearance="outline">
        <mat-label>كود المستخدم</mat-label>
        <input formControlName="transactionUserId" matInput placeholder="كود المستخدم">
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>كود الفصيلة</mat-label>
        <input formControlName="code" matInput placeholder="كود الفصيلة">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>اسم الفصيلة</mat-label>
        <input formControlName="name" matInput placeholder="اسم الفصيلة">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="ادخل السلعة" aria-label="grade" [matAutocomplete]="autoCommodity" [formControl]="commodityCtrl" required />
        <mat-autocomplete #autoCommodity="matAutocomplete" (optionSelected)="commoditySelected($event)">
          <mat-option *ngFor="let commodity of filteredcommodities | async" [value]="commodity.id">
            {{ commodity.name }} | {{ commodity.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <input matInput placeholder="ادخل النوعية" aria-label="grade" [matAutocomplete]="autoGrade" [formControl]="gradeCtrl" required />
        <mat-autocomplete #autoGrade="matAutocomplete" (optionSelected)="gradeSelected($event)">
          <mat-option *ngFor="let grade of filteredgrades | async" [value]="grade.id">
            {{ grade.name }} | {{ grade.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
  <button mat-raised-button color="primary" (click)="addPlatoon()" style="margin-left: 8px;">{{actionBtn}}</button> 
  </div>
  </form>