<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="بحث" #input>
    </mat-form-field>
    <button style="margin-right: 60%;" mat-raised-button class="add" (click)="openDialog()">اضافة</button>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion class="example-headers-align" multi dir="rtl">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            بحث متقدم
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="search">
          <mat-form-field appearance="outline">
            <mat-label>الصنف</mat-label>
            <input #item matInput placeholder="ادخل الصنف">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>الوحدة</mat-label>
            <input matInput aria-label="unit" [matAutocomplete]="autoUnit" [formControl]="unitCtrl" required />
            <mat-autocomplete #autoUnit="matAutocomplete" [displayWith]="displayUnitName"
              (optionSelected)="unitSelected($event)">
              <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit">
                {{ unit.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>السلعة</mat-label>
            <input matInput aria-label="commodity" [matAutocomplete]="autoCommodity" [formControl]="commodityCtrl"
              required />
            <mat-autocomplete #autoCommodity="matAutocomplete" [displayWith]="displayCommodityName"
              (optionSelected)="commoditySelected($event)">
              <mat-option *ngFor="let commodity of filteredCommodities | async" [value]="commodity">
                {{ commodity.name }} | {{ commodity.code }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>النوعية</mat-label>
            <input matInput aria-label="grade" [matAutocomplete]="autoGrade" [formControl]="gradeCtrl" required
              required />
            <mat-autocomplete #autoGrade="matAutocomplete" [displayWith]="displayGradeName"
              (optionSelected)="gradeSelected($event)">
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade">
                {{ grade.name }} | {{ grade.code }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>الفصيلة</mat-label>
            <input matInput aria-label="platoon" [matAutocomplete]="autoPlatoon" [formControl]="platoonCtrl" required />
            <mat-autocomplete #autoPlatoon="matAutocomplete" [displayWith]="displayPlatoonName"
              (optionSelected)="platoonSelected($event)">
              <mat-option *ngFor="let platoon of filteredPlatoons | async" [value]="platoon">
                {{ platoon.name }} | {{ platoon.code }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>المجموعة</mat-label>
            <input matInput aria-label="group" [matAutocomplete]="autoGroup" [formControl]="groupCtrl" required />
            <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayGroupName"
              (optionSelected)="groupSelected($event)">
              <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
                {{ group.name }} | {{ group.code }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>        

          <button (click)="getSearchItems(item.value)">عرض</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Item fullCode Column -->
      <ng-container matColumnDef="fullCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
        <td mat-cell *matCellDef="let row"> {{row.fullCode}} </td>
      </ng-container>

      <!-- Item Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم الصنف</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Item Number Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الرقم</th>
        <td mat-cell *matCellDef="let row"> {{row.no}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> النوع </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <!-- isActive Column -->
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> الحالة </th>
        <td mat-cell *matCellDef="let row"> {{row.isActive}} </td>
      </ng-container>
      
      <!-- Unit Column -->
      <ng-container matColumnDef="unitName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> الوحدة </th>
        <td mat-cell *matCellDef="let row"> {{row.unitName}} </td>
      </ng-container>

      <!-- commodity Column -->
      <ng-container matColumnDef="commodityName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> السلعة </th>
        <td mat-cell *matCellDef="let row"> {{row.commodityName}} </td>
      </ng-container>

      <!-- grad Column -->
      <ng-container matColumnDef="gradeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> النوعية </th>
        <td mat-cell *matCellDef="let row"> {{row.gradeName}} </td>
      </ng-container>

      <!-- Platoon Column -->
      <ng-container matColumnDef="platoonName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> الفصيلة </th>
        <td mat-cell *matCellDef="let row"> {{row.platoonName}} </td>
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> المجموعة </th>
        <td mat-cell *matCellDef="let row"> {{row.groupName}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editItem(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteItem(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

    </table>

  </mat-card-content>
  <br>
  <mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  </mat-card-footer>
</mat-card>