<form [formGroup]="accountForm" dir="rtl">
  <h1 mat-dialog-title>إضافة حساب</h1>
  <div mat-dialog-content>
    <form [formGroup]="accountForm">
      <mat-form-field appearance="outline">
        <mat-label>كود الحساب</mat-label>
        <input formControlName="code" matInput placeholder="ادخل كود الحساب">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>اسم الحساب</mat-label>
        <input formControlName="name" matInput placeholder="ادخل اسم الحساب">
      </mat-form-field>

      <mat-label>شجرة الحساب</mat-label>  
      <mat-form-field appearance="outline">            
        <input matInput aria-label="hierarchy" [matAutocomplete]="autoHierarchy" [formControl]="hierarchyCtrl" (click)="openAutoHierarchy()" placeholder="{{getAccountData ? getAccountData.fiAccountHierarchyName : ''}}" required/>
        <mat-autocomplete #autoHierarchy="matAutocomplete" [displayWith]="displayHierarchyName" (optionSelected)="hierarchySelected($event)">
          <mat-option *ngFor="let hierarchy of filteredHierarchies | async" [value]="hierarchy">
            {{ hierarchy.name }} | {{ hierarchy.level }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addAccount()" style="margin-left: 8px;">{{actionBtn}}</button>
  </div>
</form>
