<div class="container" dir="rtl">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        بحث متقدم
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="search">
      <input matInput (keyup)="applyFilter($event)" placeholder="بحث" #input />
    </div>
    <button (click)="printReport()">طباعة</button>
  </mat-expansion-panel>
  <!-- <header>
    <div class="top">
      <h2>اذن إضافة</h2>
    </div>
    <div class="bottom">
      <div class="section1">
        <p>{{ myDate | date : "shortDate" }}</p>
        <p>مخزن :</p>
        <p>التاريخ</p>
      </div>
      <div class="section2">
        <p>وارد من :</p>
      </div>
    </div>
  </header> -->
  <section id="content">
    <header id="header" class="header">
      <div class="header-one">
        <p>إذن إضافة</p>
      </div>
      <div class="header-two">
        <img src="../assets/images/water logo.png" />
        <p>شركة مياه الشرب والصرف الصحى بأسوان</p>
      </div>
    </header>
    <table id="my-table" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="addReceiptId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم السجل</th>
        <td mat-cell *matCellDef="let row">{{ row.addReceiptId }}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> رقم الصنف </th>
    <td mat-cell *matCellDef="let row"> {{row.no}} </td>
  </ng-container> -->

      <ng-container matColumnDef="createUserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>منشئ الفاتورة</th>
        <td mat-cell *matCellDef="let row">{{ row.createUserName }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>التاريخ</th>
        <td mat-cell *matCellDef="let row">
          {{ row.date | date : "yyyy-MM-dd" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم الموظف</th>
        <td mat-cell *matCellDef="let row">{{ row.employeeName }}</td>
      </ng-container>
      <ng-container matColumnDef="fiscalyear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>السنة المالية</th>
        <td mat-cell *matCellDef="let row">{{ row.fiscalyear }}</td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الملاحظات</th>
        <td mat-cell *matCellDef="let row">{{ row.notes }}</td>
      </ng-container>
      <ng-container matColumnDef="sellerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم البائع</th>
        <td mat-cell *matCellDef="let row">{{ row.sellerName }}</td>
      </ng-container>
      <ng-container matColumnDef="storeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم المخزن</th>
        <td mat-cell *matCellDef="let row">{{ row.storeName }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الإجمالي</th>
        <td mat-cell *matCellDef="let row">{{ row.total }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">لا توجد بيانات""</td>
      </tr>
    </table>
  </section>
  <footer></footer>
</div>
