<form [formGroup]="HrcityForm" dir="rtl">
    <h1 mat-dialog-title>إضافة مدينة</h1>
    <div mat-dialog-content>
      <form [formGroup]="HrcityForm">
        <mat-form-field appearance="outline">
          <mat-label>كود المستخدم</mat-label>
          <input formControlName="transactionUserId" matInput placeholder="كود المستخدم">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>اسم المدينة</mat-label>
          <input formControlName="name" matInput placeholder="اسم المدينة">
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addHrCities()" style="margin-left: 8px;">{{actionBtn}}</button> 
    </div>
    </form>
