<div class="container1" >
    <h1 mat-dialog-title dir="rtl" style="font-size: 35px;margin-top: 20px;">اضافة صنف جديد</h1>
<div mat-dilog-content  dir="rtl">
<form [formGroup]="productForm" >
    <mat-form-field appearance="outline">
        <mat-label>اسم الصنف</mat-label>
        <input formControlName="productName" matInput placeholder="اكتب اسم الصنف" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>رقم الصنف</mat-label>
        <input formControlName="Num" matInput placeholder="اكتب رقم الصنف" type="number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label  for="commodity">السلعة</mat-label>
            <mat-select formControlName="commodity" [(ngModel)]="commodity.id" plceholder="السلعة" (valueChange)="onCommodityChange($event)"
            >
                <mat-option  *ngFor="let commodity of commoditylist" [value]="commodity.id"
                >{{commodity.name}}</mat-option>
            </mat-select>   
          </mat-form-field>
   <mat-form-field appearance="outline">
        <mat-label for="grade">الفصيلة</mat-label>
        <mat-select formControlName="grade" [(ngModel)]="grade.id" plceholder="الفصيلة" (valueChange)="onGradeChange($event)">
            <mat-option *ngFor="let grade of gradelist" [value]="grade.id">{{grade.name}}</mat-option>

        </mat-select>   
      </mat-form-field>
       <mat-form-field appearance="outline">
        <mat-label>النوعية</mat-label>
        <mat-select formControlName="platon" [(ngModel)]="platon.id" plceholder="النوعية"(valueChange)="onplatonChange($event)">
            <mat-option *ngFor="let platon of platonlist" [value]="platon.id">{{platon.name}}</mat-option>

        </mat-select>   
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>المجموعة</mat-label>
        <mat-select formControlName="group" [(ngModel)]="group.id" plceholder="المجموعة">
            <mat-option *ngFor="let group of grouplist" [value]="group.id " >{{group.name}}</mat-option>

        </mat-select>   
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>الوحدة</mat-label>
        <mat-select formControlName="unit" [(ngModel)]="unit.id" plceholder="الوحدة">
            <mat-option *ngFor="let unit of unitlist" [value]="unit.name">{{unit.name}}</mat-option>

        </mat-select>   
      </mat-form-field>
<div class="container2">
    <label for="" ><h1 ></h1></label>
    <mat-radio-group formControlName="type" class="example-radio-group" >
        <mat-radio-button class="example-radio-button" value="نشط" [checked]="true">
          نشط
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="غير نشط">
            غير نشط
          </mat-radio-button>
    </mat-radio-group>
    <label for="" style="margin-right: 15px;"><h1></h1></label>
    <mat-radio-group formControlName="relation" class="example-radio-group" >
        <mat-radio-button class="example-radio-button" value="جديد" [checked]="true">
        جديد
        </mat-radio-button>
        <mat-radio-button class="example-radio-button"value="مستعمل" >
            مستعمل
            </mat-radio-button>
    </mat-radio-group> 
</div>
  
 
   
  
</form>
</div>
<div mat-dialog-action [align]="'end'" dir="rtl" style="text-align: center;margin-top: 28px;margin-bottom: 20px;">
    <button style="margin-left: 8px;font-size: 23px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>

    <button mat-raised-button color="warn" style="font-size: 23px;" mat-dialog-close>الغاء</button>
</div>
</div>