<form [formGroup]="VacationsForm" dir="rtl">
    <h1 mat-dialog-title>الموظفين</h1>
    <div mat-dialog-content>
      <form [formGroup]="VacationsForm">
        
      
        <mat-form-field appearance="outline">
          <mat-label>اسم الموظف</mat-label>
          <input formControlName="name" matInput placeholder="اسم الموظف">
        </mat-form-field>
     
         
         
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addProduct()" style="margin-left: 8px;">{{actionBtn}}</button> 
    </div>
  </form>
  
  