<form [formGroup]="unitsForm" dir="rtl">
  <h1 mat-dialog-title>إضافة وحدة</h1>
  <div mat-dialog-content>
    <form [formGroup]="unitsForm">
      <mat-form-field appearance="outline">
        <mat-label>كود المستخدم</mat-label>
        <input formControlName="transactionUserId" matInput placeholder="كود المستخدم">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>اسم الوحدة</mat-label>
        <input formControlName="name" matInput placeholder="اسم الوحدة">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
  <button mat-raised-button color="primary" (click)="addProduct()" style="margin-left: 8px;">{{actionBtn}}</button> 
  </div>
  </form>
