<form [formGroup]="itemForm" dir="rtl">
  <h1 mat-dialog-title>إضافة صنف</h1>
  <div mat-dialog-content>
    <form [formGroup]="itemForm">

      <mat-form-field appearance="outline">
        <mat-label>اسم الصنف</mat-label>
        <input formControlName="name" matInput placeholder="اسم المجموعة">
      </mat-form-field>

      <mat-label>الوحدة</mat-label>
      <mat-form-field appearance="outline">        
        <input matInput aria-label="unit" [matAutocomplete]="autoUnit" [formControl]="unitCtrl" placeholder="{{getItemData ? getItemData.unitName : ''}}" required />
        <mat-autocomplete #autoUnit="matAutocomplete" [displayWith]="displayUnitName"
          (optionSelected)="unitSelected($event)">
          <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit">
            {{ unit.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>السلعة</mat-label>
      <mat-form-field appearance="outline">        
        <input matInput aria-label="commodity" [matAutocomplete]="autoCommodity" [formControl]="commodityCtrl" placeholder="{{getItemData ? getItemData.commodityName : ''}}" required/>
        <mat-autocomplete #autoCommodity="matAutocomplete" [displayWith]="displayCommodityName" (optionSelected)="commoditySelected($event)">
          <mat-option *ngFor="let commodity of filteredCommodities | async" [value]="commodity">
            {{ commodity.name }} | {{ commodity.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>النوعية</mat-label>
      <mat-form-field appearance="outline">
        <input matInput aria-label="grade" [matAutocomplete]="autoGrade" [formControl]="gradeCtrl" required placeholder="{{getItemData ? getItemData.gradeName : ''}}" required/>
        <mat-autocomplete #autoGrade="matAutocomplete" [displayWith]="displayGradeName" (optionSelected)="gradeSelected($event)">
          <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade">
            {{ grade.name }} | {{ grade.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>الفصيلة</mat-label>
      <mat-form-field appearance="outline">
        <input matInput aria-label="platoon" [matAutocomplete]="autoPlatoon" [formControl]="platoonCtrl" required placeholder="{{getItemData ? getItemData.platoonName : ''}}" required/>
        <mat-autocomplete #autoPlatoon="matAutocomplete" [displayWith]="displayPlatoonName" (optionSelected)="platoonSelected($event)">
          <mat-option *ngFor="let platoon of filteredPlatoons | async" [value]="platoon">
            {{ platoon.name }} | {{ platoon.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>المجموعة</mat-label>
      <mat-form-field appearance="outline">
        <input matInput aria-label="platoon" [matAutocomplete]="autoGroup" [formControl]="groupCtrl" placeholder="{{getItemData ? getItemData.groupName : ''}}" required  />
        <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayGroupName"
          (optionSelected)="groupSelected($event)">
          <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
            {{ group.name }} | {{ group.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 
      <label id="example-radio-group-label">النوع</label>
      <mat-radio-group formControlName="type" class="example-radio-group">
        <mat-radio-button class="example-radio-button" value="عهدة">
            عهدة
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="مستهلك">
            مستهلك
        </mat-radio-button>
    </mat-radio-group>
    <br>
    <label id="example-radio-group-label">الحالة</label>
    <mat-radio-group formControlName="isActive" class="example-radio-group">
      <mat-radio-button class="example-radio-button" [value]=true>
          فعال
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]=false>
          غير فعال
      </mat-radio-button>
  </mat-radio-group>
  
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
  <button mat-raised-button color="primary" (click)="addItem()" style="margin-left: 8px;">{{actionBtn}}</button> 
  </div>
  </form>

