<p>hr-incentive-allowance-dialog works!</p>

<h1 mat-dialog-title dir="rtl">اضافة حافز</h1>

<div mat-dialog-content dir="rtl" style="padding: 30px;">
    <form [formGroup]="groupForm">
        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>رقم الحافز</mat-label>
            <input matInput placeholder="رقم الحافز" formControlName="no" type="number">
        </mat-form-field>

        <mat-label>الموظف*</mat-label>
        <mat-form-field appearance="outline">
            <input matInput aria-label="commodity" [matAutocomplete]="autoEmployee" [formControl]="emploeeCtrl"
                placeholder="{{editData ? editData.employeename : ''}}" (click)="openAutoEmployee()"
                required />
            <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
                (optionSelected)="employeeSelected($event)">
                <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                    {{ employee.name }} | {{ employee.code }} | {{ employee.id }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-label>الاجازة*</mat-label>
        <mat-form-field appearance="outline">
            <input matInput aria-label="commodity" [matAutocomplete]="autofiscalYear" [formControl]="fiscalYearCtrl"
                placeholder="{{editData ? editData.fiscalYearName : ''}}" (click)="openAutoFiscalYear()"
                required />
            <mat-autocomplete #autofiscalYear="matAutocomplete" [displayWith]="displayFiscalYearName"
                (optionSelected)="fiscalYearSelected($event)">
                <mat-option *ngFor="let vacation of filteredFiscalYear | async" [value]="vacation">
                    {{ vacation.fiscalyear }} | {{ vacation.id }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>التاريخ</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <div class="groupAction">
        <button mat-raised-button class="cancelBtn" mat-dialog-close>اغلاق</button>
        <button mat-raised-button class="confirmBtn" style="margin-left: 8px;"
            (click)="addIncentiveAllowance()">{{actionBtn.toLowerCase() =='save' ? 'اضافة':'تعديل'}}</button>
    </div>
</div>