<div style="text-align: right;">

    <h1 mat-dialog-title style="font-size: 30px;">اضافة مخزن</h1>
   <div mat-dilog-content>
   <form [formGroup]="productForm" style="padding: 20px;" >
       <mat-form-field appearance="outline" >
           <mat-label>الكود </mat-label>
           <input formControlName="STRcode" matInput placeholder="ادخل كود المخزن" type="number">
           
       </mat-form-field>
       <mat-form-field appearance="outline">
           <mat-label>المخزن</mat-label>
           <input formControlName="STRstore" matInput placeholder="ادخل المخزن" type="text">
   
       </mat-form-field>
      
   </form>
   </div>
   <div mat-dialog-action [align]="'end'" style="padding: 10px;margin-left: 30%;">
       <button mat-raised-button color="warn" mat-dialog-close>الغاء</button>
       <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
   </div>
   </div>
