.container {
  padding: 30px 0;
}

.content {
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.header div {
  height: 100px;
  background-color: rgb(60, 202, 252);
  color: white;
  /* color: #04365f; */
}

.header p,
.date p {
  font-size: large;
  font-weight: bold;
}

.header .header-one p {
  padding: 21px;
}

.header .header-two {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.header .header-two p {
  width: 200px;
  display: flex;
  align-items: center;
}

.header .header-two img {
  height: 80%;
}

section {
  margin: 28px 0;
}

th {
  background-color: rgb(60, 202, 252) !important;
  color: white;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
}

table {
  margin: 28px 0;
  overflow-y: scroll;
  width: 80%;
}
.mat-mdc-table {
  --mat-table-row-item-outline-width: 1px;
  table-layout: fixed;
  white-space: normal;
  background-color: var(--mat-table-background-color);
  font-family: "Cairo", sans-serif !important;
}
table,
th,
td {
  border: 1px rgb(161, 160, 160) solid;
  text-align: center;
  font-family: "Cairo", sans-serif;
}

/* .mat-mdc-header-row {
  background-color: rgba(0, 0, 0, 0.38) !important;
  color: white !important;
  font-weight: bold;
} */

/* table {
  border: 3px solid gray;
}

.mat-mdc-cell,
.mdc-data-table__header-cell {
  border: 1px solid gray;
} */

footer {
  display: none;
  position: absolute;
  bottom: 42px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  padding: 21px;
  border: black solid 3px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

footer h3 {
  color: red;
  font-size: large;
  font-weight: bold;
}

.date {
  position: absolute;
  bottom: 0;
  left: 7px;
  margin-top: 14px;
  display: none;
}

.operation .top {
  display: flex;
  justify-content: space-around;
}

.operation .top button {
  font-size: large;
  font-weight: bold;
  width: 90px;
  outline: none;
  border: rgb(60, 202, 252) solid 2px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.bottom {
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom button {
  font-size: large;
  font-weight: bold;
  width: fit-content;
  height: 35px;
  outline: none;
  border: rgb(60, 202, 252) 2px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

button {
  cursor: pointer;
}
