<div  >
    <mat-card>
      <div class="card-parent">
     
        <mat-card class="card-class" routerLink="/account">    
          <mat-card-content>
              <mat-card-title>إضافة حساب</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/AccountHierarchy">    
          <mat-card-content>
              <mat-card-title>إضافة شجرة الحساب</mat-card-title>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="card-class" routerLink="/FiAccountItem">    
          <mat-card-content>
              <mat-card-title>إضافة صنف الحساب</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/FIJournal">    
          <mat-card-content>
              <mat-card-title>إضافة صحيفة</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/AccountParent">    
          <mat-card-content>
              <mat-card-title>إضافة حساب أب</mat-card-title>
          </mat-card-content>
        </mat-card>  
      </div>
    
    </mat-card>
   
  
  </div>