<!-- <p>str-opening-stock-container works!</p> -->
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>الاصناف</span>
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button> -->
    <button mat-raised-button color="warn" (click)="openAddDialog()">اضافة </button>
</mat-toolbar>
<app-str-add-table matSort></app-str-add-table>

