<form [formGroup]="FIJournal" dir="rtl">
    <h1 mat-dialog-title>إضافة صحيفة</h1>
    <div mat-dialog-content>
      <form [formGroup]="FIJournal">
        <mat-form-field appearance="outline">
          <mat-label>كود المستخدم</mat-label>
          <input formControlName="transactionUserId" matInput placeholder="كود المستخدم">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> رقم الصحيفة</mat-label>
          <input formControlName="no" matInput placeholder="  رقم الصحيفة">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> الوصف</mat-label>
          <input formControlName="description" matInput placeholder=" الوصف">
        </mat-form-field>
     
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>التاريخ</mat-label>
            <input #date matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addFIJournals()" style="margin-left: 8px;">{{actionBtn}}</button> 
    </div>
    </form>
  
