<!-- <p>str-opening-stock-container works!</p> -->
<mat-toolbar color="primary" dir="rtl">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>اذن صرف</span>
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button> -->
    <button mat-raised-button color="warn" (click)="openWithdrawDialog()">اضافة </button>
</mat-toolbar>
<app-str-withdraw-table2 matSort></app-str-withdraw-table2>
