@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
app-str-group-home{
  font-family: 'Droid Arabic Kufi', serif;
}
body {  font-family: 'Cairo', sans-serif;}


.example-spacer {
  flex: 1 1 auto;
  
}



.screenBackground {
  padding: 20px;
  background: linear-gradient(rgb(60, 202, 252), rgb(3, 21, 89));
  min-height: 100vh;
  overflow: scroll;
  
}
.role1{
  padding: 20px;
  background: linear-gradient(rgb(252, 60, 194), rgb(3, 21, 89));
 min-height: 100vh;
}
.role2{
  padding: 20px;
  background: linear-gradient(rgb(60, 252, 146), rgb(3, 21, 89));
 min-height: 100vh;
}
.role3{
  padding: 20px;
  background: linear-gradient(rgb(252, 169, 60), rgb(3, 21, 89));
  height: 100vh;
}
.role4{
  padding: 20px;
  background: linear-gradient(rgb(252, 60, 60), rgb(3, 21, 89));
  height: 100vh;
}
.role5{
  padding: 20px;
  background: linear-gradient(rgb(233, 252, 60), rgb(3, 21, 89));
  height: 100vh;
}
.baseContainer {
  background: var(--primary-color);
 min-height: 140vh !important;
  justify-content: center;
  border-radius:20px ;
 
 
}

.example-container {
  width: auto;
 min-height:124vh;
  top: 350px;
  border-left: 1px solid rgba(235, 232, 232, 0.5);
  overflow: hidden;
  background-color: transparent;
  transition: none !important;
  

 
}

.user-name{
  font-family: 'Cairo', sans-serif !important;
  font-weight: bold;
}

.example-sidenav-content {
  display: none;
  height: 100%;
  align-items: left;
  justify-content: left;
  /* width: 150px; */
  background: white;
  scrollbar-width: none;
  /* overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;  */
  
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
 
  
}
.example-sidenav {
  padding: 10px ;
  min-height: 100% !important;
 position: absolute;
 /* background-color: blueviolet; */
 right: 0px;
 width: 100%;
 
}

.routingContainerToggleClosed {
  width: 78%;
  /* background-color: blueviolet; */
  margin: 5% 0 0 5%;
  
}

.routingContainerToggleOpened{
  width: 70%;
  margin: 5% 0 0 5%;
  padding: 30px 0px !important;
 
}
.toolbarContainer{
  display: flex;
  flex-direction: row;
  width: 160%;
  /* background: #000; */
  justify-content: space-between;
  padding: 10px;
  text-align: center;
align-items: center;

}
.toolBarUserInfo{
  display: flex;
  flex-direction: row;
}
.toolbarUserContent p{
  font-size: 15px;
  margin-top: 5px;
}
.companyInfo{
  display: flex;
  flex-direction: row;
  border: 1px rgb(240, 236, 236) solid;
  border-radius: 10px;
  box-shadow: 0.5px 2px 5px 0.5px lightblue;
  padding: 5px;
  margin-right: -28%;
 
 
}
#pageTitle{
  /* margin-right: 20%; */
  display: flex;
  justify-content: end;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  /* background-color: aqua; */
  flex: 20%;
  text-align: right;
 padding-right: 20px;
}


.companyInfoInToggle{
  display: flex;
  align-items: center;
  border: 1px rgb(240, 236, 236) solid;
  border-radius: 10px;
  box-shadow: 0.5px 2px 5px 0.5px lightblue;
  padding: 5px;
 /* background-color: red; */
 


}
.companyInfoToggleOpened{
  display: none;
}

.companyInfo img{
  width: 35px;
  height: 35px;
}
.companyInfo mat-icon{
  margin: 2px;
}
.companyInfo .toolbarUserContent{
  line-height: 0.5;
  margin-right:5px;
}
.companyInfo p{
  font-size: 15px;
 line-height: .5;
  
}

.companyInfoInToggle img{
  width: 35px;
  height: 35px;
}
.companyInfoInToggle mat-icon{
  margin: 5px;
}
.companyInfoInToggle .toolbarUserContent{
  line-height: 0.5;
  margin-right: 10px;
}
.companyInfoInToggle p{
  font-size: 11px;
  font-family: 'Cairo', sans-serif !important;
  font-weight: bolder;
  /* background-color: blue; */
  line-height: .2rem;
}
.toolBarUserInfo mat-icon{
  margin: 5px;
}

.toolBarUserInfo img{
  width: 35px;
  height: 35px;
}

.toolBarUserInfo .toolbarUserContent{
  line-height: 0.5;
  margin-right: 10px;
}

mat-toolbar{
  color: black !important;
  background-color: transparent !important;

}


.mat-toolbar-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 12px;
  margin-top: 10px;
  width: 100%;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--mat-toolbar-standard-height);
 
}

.toolbarContainer{
  display: flex;
  align-items: center;
  font-family: 'Cairo', sans-serif !important;
  font-size: 20px;
  font-weight: bold;

}
.mat-expansion-panel-header{
  font-family: 'Cairo', sans-serif !important;
  font-weight:bold;
}
.font{
  font-family: 'Cairo', sans-serif !important;
  font-size: .8rem;
  font-weight: bold;

}


mat-expansion-panel{
  box-shadow: none !important;
  border-bottom: 2px rgb(244, 237, 237) solid !important;
  margin-top: 10px;
 

}
.mat-icon.mat-primary {
  --mat-icon-color:rgb(60, 202, 252);
}