@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
app-str-group-home{
  font-family: 'Droid Arabic Kufi', serif;
}
body {  font-family: 'Cairo', sans-serif;}


.example-spacer {
  flex: 1 1 auto;
}



.screenBackground {
  padding: 20px;
  background: linear-gradient(rgb(60, 202, 252), rgb(3, 21, 89));
  height: auto;
  overflow: scroll;
}
.role1{
  padding: 20px;
  background: linear-gradient(rgb(252, 60, 194), rgb(3, 21, 89));
  height: 100vh;
}
.role2{
  padding: 20px;
  background: linear-gradient(rgb(60, 252, 146), rgb(3, 21, 89));
  height: 100vh;
}
.role3{
  padding: 20px;
  background: linear-gradient(rgb(252, 169, 60), rgb(3, 21, 89));
  height: 100vh;
}
.role4{
  padding: 20px;
  background: linear-gradient(rgb(252, 60, 60), rgb(3, 21, 89));
  height: 100vh;
}
.role5{
  padding: 20px;
  background: linear-gradient(rgb(233, 252, 60), rgb(3, 21, 89));
  height: 100vh;
}
.baseContainer {
  background: var(--primary-color);
  height: auto;
  justify-content: center;
  border-radius: 20px;
}

.example-container {
  width: auto;
  height: 95vh;
  top: 280px;
  border-left: 1px solid rgba(235, 232, 232, 0.5);
  overflow: hidden;
  /* margin-right: -15px; */
  background-color: transparent;
}

.example-sidenav-content {
  display: none;
  height: 100%;
  align-items: left;
  justify-content: left;
  /* width: 150px; */
  background: white;
  scrollbar-width: none;
  /* overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;  */
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.example-sidenav {
  padding: 10px;
  overflow: hidden;
}

.routingContainerToggleClosed {
  width: 90%;
  /* background-color: blueviolet; */
  margin: 5% 0 0 5%;
}

.routingContainerToggleOpened{
  width: 75%;
  /* background-color: red; */
  margin: 5% 0 0 3%;
}
.toolbarContainer{
  display: flex;
  flex-direction: row;
  width: 160%;
  /* background: #000; */
  justify-content: space-between;
  padding: 10px;
  text-align: center;
align-items: center;
}
.toolBarUserInfo{
  display: flex;
  flex-direction: row;
}
.toolbarUserContent p{
  font-size: 15px;
  margin-top: 5px;
}
.companyInfo{
  display: flex;
  flex-direction: row;
  border: 1px rgb(240, 236, 236) solid;
  border-radius: 10px;
  box-shadow: 0.5px 2px 5px 0.5px lightblue;
  padding: 5px;
  margin-right: -28%;
 
 
}
#pageTitle{
  /* margin-right: 20%; */
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  /* background-color: aqua; */
  flex: 20%;
  text-align: right;
 padding-right: 20px;
}


.companyInfoInToggle{
  display: flex;
  flex-direction: row;
  border: 1px rgb(240, 236, 236) solid;
  border-radius: 10px;
  box-shadow: 0.5px 2px 5px 0.5px lightblue;
  padding: 5px;
 /* background-color: red; */

}
.companyInfoToggleOpened{
  display: none;
}

.companyInfo img{
  width: 35px;
  height: 35px;
}
.companyInfo mat-icon{
  margin: 5px;
}
.companyInfo .toolbarUserContent{
  line-height: 0.5;
  margin-right: 10px;
}
.companyInfo p{
  font-size: 15px;
  margin-top: 5px;
}

.companyInfoInToggle img{
  width: 35px;
  height: 35px;
}
.companyInfoInToggle mat-icon{
  margin: 5px;
}
.companyInfoInToggle .toolbarUserContent{
  line-height: 0.5;
  margin-right: 10px;
}
.companyInfoInToggle p{
  font-size: 15px;
  margin-top: 5px;
}
.toolBarUserInfo mat-icon{
  margin: 5px;
}

.toolBarUserInfo img{
  width: 35px;
  height: 35px;
}

.toolBarUserInfo .toolbarUserContent{
  line-height: 0.5;
  margin-right: 10px;
}


.mat-toolbar-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  margin-top: 10px;
  width: 100%;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--mat-toolbar-standard-height);
}

.toolbarContainer{
  display: flex;
  align-items: center;

}
 /* .mat-expansion-panel-header-title{
  box-shadow: none;
    border-bottom: 1px rgb(185, 184, 184) solid !important;
    margin-top: 10px;
} */

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  height: var(--mat-expansion-header-collapsed-state-height);
  font-family: var(--mat-expansion-header-text-font);
  font-size: var(--mat-expansion-header-text-size);
  font-weight: var(--mat-expansion-header-text-weight);
  line-height: var(--mat-expansion-header-text-line-height);
  letter-spacing: var(--mat-expansion-header-text-tracking);
  border: none;
  

}

.mat-icon.mat-primary {
  --mat-icon-color:rgb(60, 202, 252);
}