<section>
  <div class="baseContainer">
    <mat-toolbar  >
      <mat-toolbar-row>
        <div class="toolbarContainer" *ngIf="global.isLogIn || global.navFlag">
          <div class="toolBarUserInfo" dir="rtl">
            <mat-icon>notifications_active</mat-icon>
            <mat-icon>search</mat-icon>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <div class="toolbarUserContent d-flex">
                <img
                  src="../assets/images/profile.png"
                  width="30"
                  height="30"
                  alt="user photo"
                />
              <div class="user-name">
              <div class="my-2">{{ user?.name }}</div>
                  <div class="">مدير ادارة المخازن</div>
                </div>
              </div>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item routerLink="login" (click)="handleLogOut()">
                <mat-icon>notifications_off</mat-icon>
                <span>تسجيل الخروج</span>
              </button>
            </mat-menu>
          </div>
          <div id="pageTitle">
            <div class="d-flex align-items-center">
              <span >الرئيسية </span><mat-icon>home</mat-icon>
            </div>
          </div>
          <div
            [ngClass]="
              toggleButtonCounter % 2 == 0
                ? 'companyInfo'
                : 'companyInfoToggleOpened'
            "
            dir="rtl"
          >
            <button
              type="button"
              mat-button
              (click)="drawer.toggle()"
              (click)="plus()"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <img src="../assets/images/water logo.png" alt="user photo" />
            <div class="toolbarUserContent">
              <p>شركة مياة الشرب</p>
              <p>و الصرف الصحى باسوان</p>
            </div>
          </div>
        </div>

        <mat-drawer-container
          [ngClass]="
            toggleButtonCounter % 2 == 0
              ? 'example-containerToggleClosed'
              : 'example-container'
          "
          autosize
          style="width: 552px"
        >
          <mat-drawer #drawer class="example-sidenav" mode="side">
            <div
              [ngClass]="
                toggleButtonCounter % 2 != 0
                  ? 'companyInfoInToggle'
                  : 'companyInfoToggleOpened'
              "
              dir="rtl"
            >
              <button
                type="button"
                mat-button
                (click)="drawer.toggle()"
                (click)="plus()"
              >
                <mat-icon >menu</mat-icon>
              </button>
              <img src="../assets/images/water logo.png" alt="user photo" />
              <div class="toolbarUserContent">
                <p>شركة مياة الشرب</p>
                <p>والصرف الصحى باسوان</p>
              </div>
            </div>

            <mat-expansion-panel
              dir="rtl"
             
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon color="primary"  class="ms-2">store</mat-icon> المخازن
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-expansion-panel
                  dir="rtl"
                  style="
                    box-shadow: none;
                    border-bottom: 1px rgb(244, 237, 237) solid;
                    margin-top: 10px;
                  
                    
                  "
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> التكويد </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <a
                      mat-list-item
                      class="sideNavSubItems "
                      routerLink="/commodity"
                      ><p class="font">السلعة</p></a
                    >
                    <a mat-list-item class="sideNavSubItems" routerLink="/grade"
                      ><p class="font">النوعية</p></a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/str-platoon"
                      ><p class="font">الفصيلة</p></a
                    >
                    <a
                      mat-list-item
                      routerLink="/groupBannel"
                      class="sideNavSubItems"
                      ><p class="font">المجموعة</p></a
                    >
                    <a mat-list-item class="sideNavSubItems" routerLink="/unit"
                      ><p class="font">الوحدة</p></a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/items1"
                      ><p class="font">الاصناف</p></a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/products"
                      > <p class="font">المنتجات</p></a
                    >
                    <a mat-list-item class="sideNavSubItems" routerLink="/store"
                      ><p class="font">المخازن</p></a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/costCenter"
                      >  <p class="font">مركز التكلفة</p></a
                    >
                  </mat-nav-list>
                </mat-expansion-panel>
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/withdraw"
                  (click)="
                    global.getPermissionUserRoles(1, 'stores', 'إذن صرف', '')
                  "
                  > <p class="font">اذن صرف</p></a
                >
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/STRAdd"
                  (click)="
                    global.getPermissionUserRoles(2, 'stores', 'إذن إضافة', '')
                  "
                  >  <p class="font">اذن اضافة</p></a
                >
                <a
                  mat-list-item
                  routerLink="/groupOpening"
                  class="sideNavSubItems"
                  (click)="
                    global.getPermissionUserRoles(3, 'stores', 'الإفتتاحي', '')
                  "
                  > <p class="font">الافتتاحى</p></a
                >
                
              
               
                <a
                  mat-list-item
                  routerLink="/employeeOpening"
                  class="sideNavSubItems"
                  (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                  >  <p class="font">نقل عهدة</p></a
                >
              </mat-nav-list>
            </mat-expansion-panel>

            <!--start accounts -->

            <mat-expansion-panel
              dir="rtl"
             
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <img src="../assets/images/calculator.png" width="20"  class="ms-2"/> الحسابات
                </mat-panel-title>
                <mat-nav-list></mat-nav-list>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <mat-expansion-panel
                  dir="rtl"
                  style="
                    box-shadow: none;
                    border-bottom: 1px rgb(244, 237, 237) solid;
                    margin-top: 10px;
                  "
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> التكويد </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/account"
                      (click)="
                        global.getPermissionUserRoles(1, 'acounts', '', '')
                      "
                      > <p class="font"> اضافة حساب</p></a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/AccountHierarchy"
                      (click)="
                        global.getPermissionUserRoles(1, 'acounts', '', '')
                      "
                      >  <p class="font">  شجرة الحساب</p></a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/FiAccountItem"
                      (click)="
                        global.getPermissionUserRoles(1, 'acounts', '', '')
                      "
                      >  <p class="font">  صنف الحساب</p></a
                    >
                    <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/AccountParent"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >   <p class="font">إضافة حساب اب</p></a>
                    <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/FIJournal"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >   <p class="font">إضافة صحيفة </p></a>

                    <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/EntrySource"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >   <p class="font">مصدر الدخل  </p></a>

                    <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/EntrySourceType"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >   <p class="font"> نوع مصدر الدخل  </p></a>
                
                  </mat-nav-list>
                </mat-expansion-panel>
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/withdraw"
                  (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                  >اليومية
                </a>
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/fi-entry"
                  (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                  >القيود
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
            <!-- end accounts -->

            <!-- start الموراد البشرية-->
            <mat-expansion-panel
            dir="rtl"
            
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon color="primary" class="ms-2">people</mat-icon> الموراد البشرية
              </mat-panel-title>
              <mat-nav-list></mat-nav-list>
            </mat-expansion-panel-header>

            <mat-nav-list>
              <mat-expansion-panel
                dir="rtl"
                style="
                  box-shadow: none;
                  border-bottom: 1px rgb(244, 237, 237) solid;
                  margin-top: 10px;
                "
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> التكويد </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                  <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/account"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >اضافة مورد</a
                  >
                  <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/AccountHierarchy"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >إضافة شجرة الحساب</a
                  >
                  <a
                    mat-list-item
                    class="sideNavSubItems"
                    routerLink="/FiAccountItem"
                    (click)="
                      global.getPermissionUserRoles(1, 'acounts', '', '')
                    "
                    >إضافة صنف الحساب</a
                  >
                </mat-nav-list>
              </mat-expansion-panel>
              <a
                mat-list-item
                class="sideNavSubItems"
                routerLink="/withdraw"
                (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                >اليومية
              </a>
              <a
                mat-list-item
                class="sideNavSubItems"
                routerLink="/fi-entry"
                (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                >القيود
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
            <!-- end Hr -->
          </mat-drawer>
        </mat-drawer-container>
      </mat-toolbar-row>
    </mat-toolbar>

    <div
      [ngClass]="
        toggleButtonCounter % 2 == 0
          ? 'container routingContainerToggleClosed'
          : 'container routingContainerToggleOpened'
      "
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
