<p>fi-entry-dialog works!</p>
<h1 mat-dialog-title dir="rtl">اضافة </h1>
<div mat-dialog-content dir="rtl" style="padding: 30px;">
    <form [formGroup]="groupMasterForm" (keydown.enter)="$event.preventDefault()">

        <div class="headerForm">
            <mat-form-field appearance="outline" class="groupInput">
                <mat-label>الرقم</mat-label>
                <input matInput placeholder="الرقم" formControlName="no" type="number">
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label> الدفتر </mat-label>
                <mat-select placeholder=" الدفتر " formControlName="journalId" >
                    <mat-option [value]="journal.id"
                        *ngFor="let journal of journalsList">{{journal.no}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label> النوع </mat-label>
                <mat-select placeholder=" النوع " formControlName="fiEntrySourceTypeId" >
                    <mat-option [value]="source.id"
                        *ngFor="let source of sourcesList">{{source.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label>الموازنة</mat-label>
                <input matInput placeholder="الموازنة" formControlName="balance" type="number" >
            </mat-form-field>


            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>التاريخ</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-radio-group aria-label="Select an option" formControlName="type"  [value]="getDetailedRowData ? getDetailedRowData.type : ''">
                <mat-label>النوع</mat-label>
                <div class="statusRadioBtns">
                    <mat-radio-button value="جديد">جديد</mat-radio-button>
                    <mat-radio-button value="مستعمل">مستعمل</mat-radio-button>
                </div>
            </mat-radio-group>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label>مجموع الدائن</mat-label>
                <input matInput placeholder="مجموع الدائن" type="number" [value]="groupMasterForm ? groupMasterForm.getRawValue().creditTotal : sumOfCreditTotals" readonly>
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label>مجموع المدين</mat-label>
                <input matInput placeholder="مجموع المدين" type="number" [value]="groupMasterForm ? groupMasterForm.getRawValue().debitTotal : sumOfDebitTotals" readonly>
            </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="nextToAddFormDetails()"
            [ngClass]="(editDataDetails || MasterGroupInfoEntered) ? 'nextButtonEditHeaderDetails' : 'nextButtonAddNewHeader'">التالى</button>
    </form>

    <form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">

        <div [ngClass]="(MasterGroupInfoEntered || editDataDetails) ? 'restGroupInfo' : 'restGroupInfoDisable'">

            <div class="detailsForm">
                <!-- 
                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label>بحث بالكود </mat-label>
                    <input matInput placeholder="الكود" (keydown)="getItemByCode($event)">
                </mat-form-field> -->
                
                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label> الصنف</mat-label>
                    <mat-select placeholder="الصنف" formControlName="accountId"
                        [value]="getDetailedRowData ? getDetailedRowData.accountId : ''">
                        <mat-option [value]="account.id" *ngFor="let account of accountsList">{{account.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label> الصنف</mat-label>
                    <mat-select placeholder="الصنف" formControlName="fiAccountItemId"
                        [value]="getDetailedRowData ? getDetailedRowData.fiAccountItemId : ''">
                        <mat-option [value]="accountItem.id" *ngFor="let accountItem of accountItemsList">{{accountItem.accounName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label>الدائن</mat-label>
                    <input type="number" matInput placeholder="الدائن" formControlName="credit"
                        [value]="getDetailedRowData ? getDetailedRowData.credit : ''">
                </mat-form-field>

                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label>المدين</mat-label>
                    <input type="number" matInput placeholder="المدين" formControlName="debit"
                        [value]="getDetailedRowData ? getDetailedRowData.debit : ''">
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="groupInput">
                    <mat-label>الكمية</mat-label>
                    <input type="number" matInput placeholder="الكمية" formControlName="qty"
                        [value]="getDetailedRowData ? getDetailedRowData.qty : ''">
                </mat-form-field>
                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label>السعر</mat-label>
                    <input type="number" matInput placeholder="السعر" formControlName="price"
                        [value]="getDetailedRowData ? getDetailedRowData.price : ''">
                </mat-form-field>


                <mat-form-field appearance="outline" class="groupInput">
                    <mat-label>النسبة</mat-label>
                    <input type="number" matInput placeholder="النسبة" formControlName="percentage"
                        [value]="getDetailedRowData ? getDetailedRowData.percentage : ''">
                </mat-form-field>

                <mat-radio-group aria-label="Select an option" formControlName="state"  [value]="getDetailedRowData ? getDetailedRowData.state : ''">
                    <mat-label>الحالة</mat-label>
                    <div class="statusRadioBtns">
                        <mat-radio-button value="جديد">جديد</mat-radio-button>
                        <mat-radio-button value="مستعمل">مستعمل</mat-radio-button>
                    </div>
                </mat-radio-group> -->

                <div mat-dialog-action [align]="'end'">
                    <div class="groupAction">
                        <button mat-raised-button color="primary" style="margin-left: 8px;"
                            (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                            'اضافة':'تعديل'}}</button>
                        <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
                    </div>
                </div>
            </div>

            <div>
                <table mat-table [dataSource]="dataSource" matSort class="headerTable">

                    <!-- credit Column -->
                    <ng-container matColumnDef="credit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> الدائن</th>
                        <td mat-cell *matCellDef="let row"> {{row.credit}} </td>
                    </ng-container>

                    <!-- debit Column -->
                    <ng-container matColumnDef="debit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> المدين</th>
                        <td mat-cell *matCellDef="let row"> {{row.debit}} </td>
                    </ng-container>

                    <!-- accountId Column -->
                    <ng-container matColumnDef="accountId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> الحالة</th>
                        <td mat-cell *matCellDef="let row"> {{row.accountId}} </td>
                    </ng-container>

                    <!-- fiAccountItemId Column -->
                    <ng-container matColumnDef="fiAccountItemId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> السعر </th>
                        <td mat-cell *matCellDef="let row"> {{row.fiAccountItemId}} </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> الاجراء </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" (click)="editDetailsForm(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteFormDetails(row.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>

    </form>
</div>