<div class="container" >

  <mat-card class="card-class" routerLink="/auto">    
    <mat-card-content>
        <mat-card-title>إذن الإضافة</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إذن الصرف</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="/groupOpening">    
    <mat-card-content>
        <mat-card-title>الافتتاحى</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إضافة صنف</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إضافة سلعة</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="/str-grade">    
    <mat-card-content>
        <mat-card-title>إضافة نوعية</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="/str-platoon">       
    <mat-card-content>
        <mat-card-title>إضافة فصيلة</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إضافة مجموعة</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="/unit">    
    <mat-card-content>
        <mat-card-title>إضافة وحدة</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إضافة مخزن</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إضافة مركز تكلفة</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-class" routerLink="">    
    <mat-card-content>
        <mat-card-title>إضافة مورد</mat-card-title>
    </mat-card-content>
  </mat-card>

</div>