@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");
@import url("http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css");

mat-card {
  margin: 2% 6%;
  /* background-color: blue; */
  box-shadow: none;
  
}
.card-parent{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 justify-content: space-between;
}
.card-class{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(60, 202, 252);
  /* box-shadow: 2px 2px 8px rgb(60, 202, 252); */
  border: 1px solid rgb(60, 202, 252);
  padding-left: 5px ;
  padding-right: 5px;
 height: 20%;
 border-radius: 5px;
}

.card-class:hover,
.card-class:active{
  background-color:rgb(60, 202, 252);
  color: #fff;
}

.mat-mdc-card-title{
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 20px;
}


