<form [formGroup]="entrySourceTypeForm" dir="rtl">
  <h1 mat-dialog-title>إضافة حساب</h1>
  <div mat-dialog-content>
    <form [formGroup]="entrySourceTypeForm">
      <mat-form-field appearance="outline">
        <mat-label>اسم نوع مصدر الدخل</mat-label>
        <input formControlName="name" matInput placeholder="ادخل نوع مصدر الدخل">
      </mat-form-field>

      <mat-label>مصدر الدخل</mat-label>  
      <mat-form-field appearance="outline">   
        <input matInput aria-label="EntrySource" [matAutocomplete]="autoEntrySource" [formControl]="entrySourceCtrl" (click)="openAutoEntrySource()" placeholder="{{getEntrySourceTypeData ? getEntrySourceTypeData.fiEntrySourceName : ''}}" required/>
        <mat-autocomplete #autoEntrySource="matAutocomplete" [displayWith]="displayEntrySourceName" (optionSelected)="entrySourceSelected($event)">
          <mat-option *ngFor="let entrySource of filteredEntrySources | async" [value]="entrySource">
            {{ entrySource.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addEntrySourceType()" style="margin-left: 8px;">{{actionBtn}}</button>
  </div>
</form>
