<form [formGroup]="FIAccountForm" dir="rtl">
    <h1 mat-dialog-title>إضافة حساب</h1>
    <div mat-dialog-content>
      <form [formGroup]="FIAccountForm">
        <mat-form-field appearance="outline">
          <mat-label>كود المستخدم</mat-label>
          <input formControlName="transactionUserId" matInput placeholder="كود المستخدم">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> اسم الحساب</mat-label>
          <input formControlName="name" matInput placeholder=" اسم الحساب">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> المستوى</mat-label>
          <input formControlName="level" matInput placeholder=" المستوى">
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addFIAccountHierarchy()" style="margin-left: 8px;">{{actionBtn}}</button> 
    </div>
    </form>
  
