<!-- <p>str-product-dialog works!</p> -->
<h1 mat-dialog-title dir="rtl">اضافة منتج</h1>
<div mat-dialog-content dir="rtl" style="padding: 30px;">
    <form [formGroup]="groupForm">
        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>اسم المنتج</mat-label>
            <input matInput placeholder="اسم المنتج" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>الصنف</mat-label>
            <mat-select placeholder="الصنف" formControlName="itemId">
                <mat-option [value]="item.id" *ngFor="let item of itemsList">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>البائع</mat-label>
            <mat-select placeholder="البائع" formControlName="vendorId">
                <mat-option [value]="vendor.id" *ngFor="let vendor of vendorsList">{{vendor.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>النموذج</mat-label>
            <mat-select placeholder="النموذج" formControlName="modelId">
                <mat-option [value]="model.id" *ngFor="let model of modelsList">{{model.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="text-center"  >
            <input class="form-control" type="file"
                    (change)="onChange($event)" (change)="onUpload()">
        
      
        </div>
        
        
        
        <div class="container" *ngIf="loading">
            <h3>Loading ...</h3>
        </div>
        

    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <div class="groupAction">
        <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
        <button mat-raised-button color="primary" style="margin-left: 8px;"
            (click)="addProduct()">{{actionBtn.toLowerCase() =='save' ? 'اضافة':'تعديل'}}</button>
    </div>
</div>