
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
max-width: 1200px;
margin: 0 auto;
}
/* *{
  direction: rtl;
} */
td{
text-align: right;  }

ng-container th{
font-size: 30px;
}

.example-spacer {
flex: 1 1 auto;
}

table {
width: 100%;
}

.mat-mdc-form-field {
font-size: 14px;
width: 100%;
}

.container {
max-width: 1200px;
margin: 0 auto;
}
.example-action-buttons {
padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
  border-radius: 5;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
}
.search mat-form-field{
width: 250px;
}
.search{
display: flex;
justify-content: space-between;
}
.search button{
padding: 10px;
width: 80px;
height: 50px;
color: white;
border: none;
}
mat-expansion-panel{
width: 88%;
margin:30px auto;
}
mat-panel-description{
font-size: 20px;

font-weight: 500;
text-align: right;
}
.header{
    /* margin-right: 45%; */
    font-size: 22px;
    position: relative;
    /* top: -39px; */
    right: 97px;
    bottom: 98px;
}
.filter{
  width: 50px;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 15%;
  margin-right:80px;
}
/* .table{
  background-color:rgb(84, 186, 255)
} */

.button{
  background-color:rgb(84, 186, 255)!important;
  color: rgb(242, 250, 215);
  font-size: 24px;
  position:absolute ; 
  left: 10px;
  top:5px;
}