.example-card {
  /* max-width: 400px; */
  width: 27%;
  padding:5px 10px;
  margin-bottom: 20px;
  height: 100px;
  
 
}


.example-card mat-card-title-group{     
    align-items: center;
    justify-content: center;
   
}
.example-card mat-card-title{
    margin-left: 40%;
    color: var(--secondary-color);
    
}

.example-card mat-card-subtitle{
  
  justify-content: center;
  /* background: #ec2727; */
  width: 120px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Cairo', sans-serif; 
  color: #000;
}

.example-card:hover{
    background-color: #d8e4eb;
  
   

}


.routeContainer{
  margin-top: -5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

@media (max-width: 992px) {
  .example-card {

    width: 40%;
    
   
  }}

@media (max-width: 576px) {
  .example-card {

    width: 100%;
    
   
  }

  

   }



