<!-- Cards with media area -->
<div class="routeContainer">

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>book</mat-icon></mat-card-title>
        <mat-card-subtitle>الحضور و الانصراف</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon> money</mat-icon></mat-card-title>
        <mat-card-subtitle>الاستحقاقات</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group routerLink="/str-employees">
        <mat-card-title><mat-icon>people</mat-icon></mat-card-title>
        <mat-card-subtitle>شئون العاملين</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon> local_library</mat-icon></mat-card-title>
        <mat-card-subtitle>الموازنة العامة</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>credit_card</mat-icon></mat-card-title>
        <mat-card-subtitle>التكاليف</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group routerLink="/str-account">
        <mat-card-title><mat-icon> attach_money</mat-icon></mat-card-title>
        <mat-card-subtitle>الحسابات العامة</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  
    <mat-card class="example-card">
      <mat-card-title-group routerLink="/str-home">
        <mat-card-title><mat-icon> store_mall_directory</mat-icon></mat-card-title>
        <mat-card-subtitle>المخازن و حسابات المخازن</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>donut_large</mat-icon></mat-card-title>
        <mat-card-subtitle>الصرف الصناعى</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>build</mat-icon></mat-card-title>
        <mat-card-subtitle>ادارة الحملة الميكانيكية</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>collections_bookmark</mat-icon></mat-card-title>
        <mat-card-subtitle>الاصول الثابتة</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon> pin_drop</mat-icon></mat-card-title>
        <mat-card-subtitle>الادارة المركزية للمياه</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>supervised_user_circle</mat-icon></mat-card-title>
        <mat-card-subtitle>الادارة العامة للتدريب</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>



    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title> <mat-icon>pan_tool</mat-icon></mat-card-title>
        <mat-card-subtitle>ادارة المعامل</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title><mat-icon>verified_user</mat-icon></mat-card-title>
        <mat-card-subtitle>الادارة العامة للشئون القانونية</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

  </div>