.example-card {
  /* max-width: 400px; */
  width: 27%;
  padding:5px 10px;
  margin-bottom: 18px;
  
 
}
.example-card:hover{
  color: aliceblue !important;
}

.example-card mat-card-title-group{     
    align-items: center;
    justify-content: center;
   
}
.example-card mat-card-title{
    margin-left: 40%;
    color: var(--secondary-color);
    
}

.example-card mat-card-subtitle{
  
  justify-content: center;
  /* background: #ec2727; */
  width: 120px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Cairo', sans-serif; 
  color: #000;
}

.example-card:hover{
    background-color: #fafaf8;
    color: #000000;

}


.groupCardsMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.routeContainer{
  margin-top: -5%;
}
.screenBackground {
  padding: 20px;
  background: linear-gradient(rgb(60, 252, 118), rgb(3, 89, 27))!important;
  height: 100vh;
}
