<mat-card>
    <mat-card-content>
      <mat-accordion class="example-headers-align" multi dir="rtl">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
                بحث متقدم
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      <div class="search">
          <mat-form-field appearance="outline">
            <mat-label>اسم الحساب </mat-label>
            <input #account matInput placeholder="ادخل اسم الحساب ">
        </mat-form-field>
        <mat-form-field appearance="outline">   
          <mat-label>الحساب</mat-label>     
          <input matInput aria-label="account" [matAutocomplete]="autoaccount" [formControl]="accountCtrl" (click)="openAutoFiAccountItem()" required/>
          <mat-autocomplete #autoaccount="matAutocomplete" [displayWith]="displayAccountName" (optionSelected)="accountSelected($event)">
            <mat-option *ngFor="let account of filteredAccounts | async" [value]="account">
              {{ account.name }} | {{ account.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <button (click)=" getSearchAccountItem(account.value)" >عرض</button>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card-header>
        <div class="child1 " >
          <button mat-raised-button class="add" (click)="openDialog()"  dir="ltr" >
          
          <span class="ms-2">اضافة</span>   <mat-icon class="me-1">add</mat-icon> 
          </button>
        </div>
  
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="بحث"
            #input
          />
        </mat-form-field>
      </mat-card-header>
      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">
  
        <!-- productCode Column -->
        <!-- <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> كود النوعية </th>
          <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container> -->
          <!-- productName Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> الاسم </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
  
        <!-- category Column -->
        <ng-container matColumnDef="accounName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الحساب </th>
          <td mat-cell *matCellDef="let row"> {{row.accounName}}</td>
        </ng-container>
  
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الحدث </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button (click)="editFiAccountItem(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteFiAccountItem(row.id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
  
      </table>
  
    </mat-card-content>
    <br>
    <mat-card-footer>
  
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
    </mat-card-footer>
  </mat-card>
