/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: 'Droid Arabic Kufi', serif;}

   

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(60, 202, 252);
    --white-Color: (255, 255, 255);
}


.mat-calendar {
    background-color: var(--primary-color);
}

.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
    color: var(--secondary-color);
}

mat-datepicker-toggle {
    color: var(--secondary-color) !important;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
@media (min-width: 1400px) { }
	