<div  >
    <mat-card>
      <div class="card-parent">
        
        <mat-card class="card-class" routerLink="/EntrySource">    
          <mat-card-content>
              <mat-card-title>مصدر الدخل</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/EntrySourceType">    
          <mat-card-content>
              <mat-card-title>نوع مصدر الدخل</mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/jobTitle">    
          <mat-card-content>
              <mat-card-title>  المسمي الوظيفي</mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/hr-hiringType">    
          <mat-card-content>
              <mat-card-title>نوع التوظيف</mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-incentive">    
          <mat-card-content>
              <mat-card-title>الحوافز </mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/hr-vacation">    
          <mat-card-content>
              <mat-card-title>الاجازات </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-MillitryState">    
          <mat-card-content>
              <mat-card-title>الموقف من التجنيد </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/position">    
          <mat-card-content>
              <mat-card-title> الدرجة الوظيفية</mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/city">    
          <mat-card-content>
              <mat-card-title> المحافظات </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/cityState">    
          <mat-card-content>
              <mat-card-title> المراكز </mat-card-title>
          </mat-card-content>
        </mat-card>  

       

        
       
      </div>
    
    </mat-card>
   
  
  </div>