@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");
@import url("http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css");

mat-card {
  margin: 2% 6%;
  /* background-color: blue; */
  box-shadow: none;
  
}
.card-parent{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 justify-content: space-between;
}
.card-class{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(60, 202, 252);
  /* box-shadow: 2px 2px 8px rgb(60, 202, 252); */
  border: 1px solid rgb(60, 202, 252);
  padding-left: 5px ;
  padding-right: 5px;
 height: 20%;
 border-radius: 5px;
}

.card-class:hover,
.card-class:active{
  background-color:rgb(60, 202, 252);
  color: #fff;
}

.mat-mdc-card-title{
  font-family: 'Cairo', sans-serif !important;
  font-weight: bold;
  font-size: 20px;
}



/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  mat-card {
   
    /* background-color: blue; */
    box-shadow: none;
    
  }
  .mat-mdc-card-title{
    font-family: 'Cairo', sans-serif;
    font-size: 10px;
  }

  .card-class{
    
    width: 100%;
   
  }
 
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }

@media (max-width: 1400px) {
 
  
}


.headertitle{
  font-family: 'Cairo', sans-serif !important;
  
}

/* Small devices (landscape phones, 576px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/* Extra large devices (large desktops, 1400px and up) */

