<div  >
    <mat-card>
      <div class="card-parent">
        
        <mat-card class="card-class" routerLink="/EntrySource">    
          <mat-card-content>
              <mat-card-title>مصدر الدخل</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/EntrySourceType">    
          <mat-card-content>
              <mat-card-title>نوع مصدر الدخل</mat-card-title>
          </mat-card-content>
        </mat-card>  
      </div>
    
    </mat-card>
   
  
  </div>