<form [formGroup]="accountParentForm" dir="rtl">
  <h1 mat-dialog-title>إضافة حساب</h1>
  <div mat-dialog-content>
    <form [formGroup]="accountParentForm">

      <mat-label>الحساب</mat-label>
      <mat-form-field appearance="outline">
        <input matInput aria-label="Account" [matAutocomplete]="autoAccount" [formControl]="accountCtrl"
          (click)="openAutoAccount()" placeholder="{{getAccountParentData ? getAccountParentData.accountName : ''}}" required />
        <mat-autocomplete #autoAccount="matAutocomplete" [displayWith]="displayAccountName"
          (optionSelected)="accountSelected($event)">
          <mat-option *ngFor="let account of filteredAccounts | async" [value]="account">
            {{ account.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>الحساب الأب</mat-label>
      <mat-form-field appearance="outline">
        <input matInput aria-label="Parent" [matAutocomplete]="autoParent" [formControl]="parentCtrl"
          (click)="openAutoParent()" placeholder="{{getAccountParentData ? getAccountParentData.parentName : ''}}" required />
        <mat-autocomplete #autoParent="matAutocomplete" [displayWith]="displayParentName"
          (optionSelected)="parentSelected($event)">
          <mat-option *ngFor="let parent of filteredParents | async" [value]="parent">
            {{ parent.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button mat-raised-button color="primary" (click)="addAccountParent()" style="margin-left: 8px;">{{actionBtn}}</button>
  </div>
</form>
