<h1 mat-dialog-title>اضافة المجموعة</h1>
<div mat-dilog-content dir="rtl">
    <!-- bind the form to formGroup called ProductForm -->
    <form [formGroup]="productForm">
    
    <mat-form-field appearance="outline">
        <mat-label>اسم المجموعة</mat-label>
        <input formControlName="name" matInput placeholder="ادخل المجموعة">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>اوصف  المجموعة</mat-label>
        <input formControlName="description" matInput placeholder="ادخل وصف المجموعة">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    
</form>
</div>

<div mat-dialog-action [align]="'end'" dir="rtl">
    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary"(click)="addRole()">{{actionBtn}}</button>
</div>
    
 

