<h1 mat-dialog-title dir="rtl">اضافة مجموعة</h1>
<div mat-dialog-content dir="rtl" style="padding: 30px;">
    <form [formGroup]="groupForm">
        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>كود المجموعة</mat-label>
            <input matInput placeholder="كود المجموعة" formControlName="code">
        </mat-form-field>
        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>اسم المجموعة</mat-label>
            <input matInput placeholder="اسم المجموعة" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>كود الفصيلة</mat-label>
            <input matInput placeholder="كود الفصيلة" (keydown)="getPlatoonByCode($event)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>الفصيلة</mat-label>
            <mat-select placeholder="الفصيلة" formControlName="platoonId">
                <mat-option [value]="platton.id" *ngFor="let platton of platoonsList">{{platton.name}}</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <div class="groupAction">
        <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
        <button mat-raised-button color="primary" style="margin-left: 8px;"
            (click)="addGroup()">{{actionBtn.toLowerCase() =='save' ? 'اضافة':'تعديل'}}</button>
    </div>
</div>