<p>fi-entry-table works!</p>
<!-- <mat-accordion class="example-headers-align" multi dir="rtl">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-description>
                بحث متقدم
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="search">
            <mat-form-field appearance="outline">
                <mat-label>الرقم</mat-label>
                <input #no matInput placeholder="ادخل الرقم">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>مركز التكلفة</mat-label>
                <mat-select #costCenterId plceholder="اختر مركز التكلفة">
                    <mat-option *ngFor="let costCenter of costCentersList"
                        [value]="costCenter.id">{{costCenter.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>الموظف</mat-label>
                <mat-select #employeeId plceholder="اختر الموظف">
                    <mat-option *ngFor="let employee of employeesList"
                        [value]="employee.id">{{employee.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>الموظف المحول اليه</mat-label>
                <mat-select #distEmployee plceholder="اختر الموظف المحول اليه">
                    <mat-option *ngFor="let employee of employeesList"
                        [value]="employee.id">{{employee.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>التاريخ</mat-label>
                <input #date matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-icon-button color="primary"
                (click)="getSearchStrOpen(no.value, costCenterId.value, employeeId.value, date.value, distEmployee.value)">
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button color="primary">
                <mat-icon>print</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion> -->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" dir="rtl">

        <!-- No Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> الرقم </th>
            <td mat-cell *matCellDef="let row"> {{row.no}} </td>
        </ng-container>

        <!-- balance Column -->
        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> الموازنة </th>
            <td mat-cell *matCellDef="let row"> {{row.balance}} </td>
        </ng-container>

        <!-- creditTotal Column -->
        <ng-container matColumnDef="creditTotal">
            <th mat-header-cell *matHeaderCellDef> مجموع الائتمان </th>
            <td mat-cell *matCellDef="let row"> {{row.creditTotal}} </td>
        </ng-container>

        <!-- debitTotal Column -->
        <ng-container matColumnDef="debitTotal">
            <th mat-header-cell *matHeaderCellDef> مجموع المدين </th>
            <td mat-cell *matCellDef="let row"> {{row.debitTotal}} </td>
        </ng-container>

        <!-- journalName Column -->
        <ng-container matColumnDef="journalName">
            <th mat-header-cell *matHeaderCellDef> الدفتر </th>
            <td mat-cell *matCellDef="let row"> {{row.journalName}} </td>
        </ng-container>

        <!-- type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> النوع </th>
            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> التاريخ </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> الاجراء </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="editMasterForm(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteBothForms(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


</div>